<mat-toolbar class="container jumbotron">
    <span><img src="/assets/images/logo_fia.png" height=80 width=90></span>
  </mat-toolbar>
  
  <div class="container jumbotron"
      fxLayout="row"
      fxLayout.sm="column" 
      fxLayout.xs="column" 
      fxLayoutAlign.xs="start center"
      fxLayoutAlign.sm="start center" 
      fxLayoutAlign.gt-sm="center center" 
      fxLayoutGap="10px">
      <div fxFlex fxFlex.gt-sm="20%">
          <mat-list>
              <mat-list-item><a mat-button routerLink="/home">Inicio</a></mat-list-item>
              <mat-list-item><a mat-button routerLink="/ingresa">Ingreso</a></mat-list-item>
              <mat-list-item><a mat-button routerLink="/ofertas">Ofertas Laborales</a></mat-list-item>
            </mat-list>
      </div>
    <div fxFlex fxFlex.gt-sm="50%">
      <h1>Ristorante Con Fusion</h1>
      <p>We take inspiration from the World's best cuisines, and create a unique fusion experience. Our lipsmacking creations
        will tickle your culinary senses!</p>
    </div>
    <div fxFlex></div>
  </div>